*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
}

:root {
    --radius: 10px;
    --radius-btn: 50%;
    --detail-bg: rgb(var(--mdb-info-rgb));
    --detail-bg-hover: rgba(var(--mdb-info-rgb), 0.7);
    --transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
::selection {
    color: var(--detail-bg);
    background: var(--mdb-light);
}
.card ::selection {
    background-color: var(--mdb-card-color);
    background: var(--mdb-card-color);
    color: var(--detail-bg);
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: var(--mdb-font-roboto);
    color: var(--mdb-body-color);
    min-height: 100dvh; /* dynamic viewport height */
    background: var(--detail-bg);
    max-width: 100vw;
}

main {
    min-height: 100dvh;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;

    & > * {
        z-index: 1;
        height: var(--icon-size);
    }

    &:where(:has(.index-icons)) {
        overflow: hidden !important;
    }

    .index-icons {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--icon-size), 1fr));
        grid-auto-rows: var(--icon-size);
        place-items: center;
        font-size: 2.2rem;
        z-index: 0;
        height: 100vh;
        width: 100vw;

        &.active {
            opacity: 0.7;
        }

        i {
            opacity: 0.2;
            transform: rotate(45deg);
            transition: 0.3s ease;

            &:hover {
                opacity: 0.5;
                transform: rotate(45deg) scale(1.1);
            }
        }
    }
}

.btn-detail {
    background: var(--detail-bg);
    color: var(--mdb-light);
    transition: background 0.3s ease;

    &:focus,
    &:hover {
        background: var(--detail-bg-hover) !important;
    }
}

/* Titulos */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 !important;
}
